.home_btn1{
  background-color:transparent;
  border:solid 2px yellow;
  color:white;
  padding:10px 20px;
  border-radius:21px;
  font-size:16px;
  font-weight:500;
  cursor:pointer;
  transition:all 0.3s ease-in-out;
  margin:5px
}
.home_btn1:hover{
  background-color:yellow;
  color:black;
  border:solid 2px yellow;
  font-weight:600px;
  
}