.about{
  display:flex;
 height:100vh;
  justify-content:center;
  align-items:center;
gap:74px;
}
.about_img {
  width: 490px;
  height: 520px;
  /* border-radius: 50%; */
}
.about h6{
  text-decoration: underline;
  text-decoration-color: #bc9424; /* Changes the underline color */
  text-decoration-thickness: 2px; /* Changes the underline thickness */
  text-underline-offset: 3px; /* Moves the underline further from the */
  font-size:12px;
}