.red{
  background-color: red;
  color:black;
}
.navbar{
  margin:0;
  padding:0;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  color:white;
  height: 43px;
  width:100%;
  font-weight:800px;

}
.navbar ul{
  display:flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap:52px;
  padding-right:95px
}
.home{
  /* height:100vh; */
  background-color:black
}
.logo{
  padding-left: 23px;
  font-size:23px;
  
}