*{
  body {
    font-family: 'Montserrat', sans-serif;
}
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212;
  /* background-image: url("https://miro.medium.com/max/5120/1*VwsiXJDNMkgCt5sJgn9Gxw.png")  ; */
 ;
}