*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("https://static.vecteezy.com/system/resources/previews/007/213/032/original/graphics-design-illustration-digital-circuit-with-binary-coded-decimal-diagram-technology-for-background-wallpaper-illustration-free-vector.jpg")  ;
 ;
}